PORT=3002
MONGO_ID=mongodb://dbRoaa:dbRoaaOnlyme$$1@cluster0-shard-00-00.pfijl.mongodb.net:27017,cluster0-shard-00-01.pfijl.mongodb.net:27017,cluster0-shard-00-02.pfijl.mongodb.net:27017/random?ssl=true&replicaSet=atlas-12nffq-shard-0&authSource=admin&retryWrites=true&w=majority